*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
}

.header {
    display: grid;
    place-items: center;
    align-items: center;
    /* position: sticky; */
    top: 0;
    z-index: 66;
    width: 100%; 
    overflow:hidden
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 100px; */
    gap: 10px;
    /* text-align: center; */
    background: linear-gradient(to top, rgba(16, 16, 64, 0.95)50%, rgba(16, 16, 64, 0.95)50%), url(images/coinlist.webp);
    /* width: 100vw; */
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 56px;
    font-weight: 600;
}
.hero h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    font-size: 32px;
    font-weight: 600;
}
.hero h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.second {
    display: grid;
    place-items: center;
    align-items: center;
    margin: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.containers {
    display: grid;
    place-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap:50px;
    margin: 10px;
    height: 100%;
   
}
.cont {
    display: grid;
    place-items: center;
    align-items: center;
    border: 1px solid white;
    background-color: rgb(16, 16, 64);
    padding: 10px 0;
    height: 100%;
    width: 100%;
    
    
}
.cont h1 {
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.cont h2 {
    text-align: center;
    color: wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.cont a {
    text-decoration: none;
    cursor: pointer;
    background-color: tomato;
    color: white;
    padding: 10px;
    border: 2px solid gray;
    border-radius:20px;
    outline: wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cont .fa {
    font-size: 3rem;
    color: whitesmoke;
}
#arr {
    font-size: 1rem;
}
.sicons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
.footer {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;
    color: rgba(0, 0, 7, 0.9);
    font-family: "Silka", Sans-serif;
    font-size: 8px;
    font-weight: 400;
    
    padding: 10px;
    border-radius: 20px;
    max-width: 100%;

}
@media (max-width:425px) {
    .hero {
        max-height: 50vh;
    }
    .hero h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        font-size: 36px;
        font-weight: 600;
    }
    .hero h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:grey;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }
    .hero h3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        font-size: 16px;
        font-weight: 400;
    }
    .containers {
        display: grid;
        place-items: center;
        align-items: center;
        grid-template-columns: 1fr;
    }
    .second {
        display: grid;
        place-items: center;
        align-items: center;
        margin: 10px 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .second h1 {
        font-size: 16px;
        text-align: center;
    
    }
    .second h2 {
        font-size: 12px;
        text-align: center;
    
    }
}